html {
    height: 100%;
    width: 100%;
    margin: 0;
}

.row {
    position: absolute;
    top: 64px;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 0;
    margin-bottom: 0;
    align-items: center;
}

#sidebar {
     position: absolute;;
     top: 0px;
     left: 0px;
     bottom: 0;
     background: white;
     padding-bottom: 48px
     z-index: 99;
     overflow:auto;
}

.btn {
    position: absolute;
    bottom: 10px;
    left: 48px;
    z-index: 999;
}

#map {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 280px;
    padding: 0;
}
